# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Ll]og/

# Visual Studio
.vs/
.idea/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# MAC Specific Files to Ignore
.DS_Store

