# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Visual Studio
.vs/
.idea/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# MAC Specific Files to Ignore
.DS_Store

